<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="$safeprojectname$.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <$safeprojectname$.My.MySettings>
            <setting name="StartProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="StopProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="canPause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PauseProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="ContinueProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="canRaiseEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="StopArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="PauseArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="ContinueArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckRunningProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckRunningArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="canSelfCheckRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkisRunning" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="MainProgram" serializeAs="String">
                <value>PATH-TO\testConsolApp.exe</value>
            </setting>
            <setting name="MainArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="WaitStart" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="WaitStop" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="WaitPause" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="WaitContinue" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="MainIsCmdApplication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WaitForDebugger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebuggerIsRemote" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>AAAAA-Service1</value>
            </setting>
            <setting name="ServiceDisplayName" serializeAs="String">
                <value>AAAAAA-DisplayName</value>
            </setting>
            <setting name="ServiceUserAccountName" serializeAs="String">
                <value>LocalService</value>
            </setting>
            <setting name="ServiceUserAccountPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ServiceDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="ServiceStartType" serializeAs="String">
                <value>Manual</value>
            </setting>
        </$safeprojectname$.My.MySettings>
    </applicationSettings>
</configuration>
